<div class="row">
  <div class="card p-3 m-3 col-sm">
    <div class="ui statistic">
      <div class="label">
        Confirmed
      </div>
      <div [countUp]=totalConfirmed class="value">
        0
      </div>
    </div>
  </div>
  <div class="card p-3 m-3 col-sm">
    <div class="ui statistic">
      <div class="label">
        Recovered
      </div>
      <div [countUp]=totalRecovered class="value">
        0
      </div>
    </div>
  </div>
  <div class="card p-3 m-3 col-sm">
    <div class="ui statistic">
      <div class="label">
        Deaths
      </div>
      <div [countUp]=totalDeaths class="value">
        0
      </div>
    </div>
  </div>
  <div class="card p-3 m-3 col-sm">
    <div class="ui statistic">
      <div class="label">
        Active
      </div>
      <div [countUp]=totalActive class="value">
        0
      </div>
    </div>
  </div>
</div>
